.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  // Stop small screens from squishing nav.
  flex-shrink: 0;

  .title-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // Space for cursor.
    margin-right: 33.588px;

    a {
      font-size: 1.2rem;
    }
  }
}
