.terminal {
  overflow-x: hidden;
  overflow-x: auto;

  .terminal-container {
    margin: 10px;
  }

  @include breakpoint(medium) {
    .terminal-container {
      margin: 10px;
    }

    width: 100%;
    max-width: 750px;
    height: 400px;
    max-height: 400px;
  }
}
